#!/bin/sh
touch ${request_id}
touch test1.txt
sudo apt -y update
touch test2.txt
sudo apt -y upgrade
touch test3.txt
sudo apt -y install ${request_id}
touch test4.txt
sudo systemctl enable ${request_id}
touch test5.txt
sudo systemctl start ${request_id}
touch test6.txt
